*/mcmodsrepo
*/mcmodsrepo/*
*/build/*
*/build
*/run/*
*/run
*/.gradle/*
*/.gradle
*/.idea/*
*/.idea
*/.kotlin/*
*/.kotlin
.kotlin
.idea
.gradle
build
run
mcmodsrepo
build/*
run/*
.gradle/*
.kotlin/*
.idea/*
mcmodsrepo/*
*~